.side_bar .nav {
    padding: 0px !important
}

.side_bar ul li a:hover {
    background-color: darkblue;
}

.textWhite {
    color: white;
    font-weight: bold;
}

.textGreen {
    color: lightgreen;
    font-weight: bold;
    background-color: darkblue;
}

.custom_shadow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}