body{
    background: white;
}

.side_nav{
    background: darkblue;
    min-width: 250px;
    max-width: 250px;
    height: 600px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

.textWhite{
    color: white;
}

.textGreen{
    color: lightgreen;
}

.custom-shadow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

 .h-color{
    border-color: white;
    border-width: 3px;
  }